body {
    margin: 10px;
}

#main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.kitty {
    margin: 8px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5%;
}

img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border: black;
}
